___
<a href = 'https://www.tradingvalley.com/en/'> 
    <img src = 'fig/TV_logo.jpg' width = '50%'/>
    </a>
<h6 style = "text-align:right"> Python and Quantitative Trading @ NTHU 107 </h6>

___

<h1 style = "text-align:center"> Python Introduction </h1>

## 1-2. Operators

### Numerical Operators

    - 四則運算：+、-、*、/
    - 其他數值運算：%、**
    - 運算後指派：運算符號後加等號（+=、-=、*=、/=、%=、**=）

##### 四則運算

In [1]:
1 + 1

2

In [2]:
1 + 2.5

3.5

In [3]:
2 - 3.2

-1.2000000000000002

In [4]:
5 * 9

45

In [5]:
6 * 8.3

49.800000000000004

In [6]:
3 / 2

1.5

In [7]:
9 / 7

1.2857142857142858

##### 其他運算

- `%` 代表的是「取餘數」（mod）
- `**` 為指數（次方）

In [8]:
8 % 3

2

In [9]:
9 % 6

3

In [10]:
3 ** 4

81

##### 運算後指派

In [11]:
a = 1
a += 5

a

6

In [12]:
a = 1
a = a + 5

a

6

In [13]:
c = 8
c %= 3

c

2

In [14]:
c = 8
c = c % 3

c

2

In [15]:
c = 2
c **= 3

c

8

In [16]:
c = 2
c = c**3

c

8

### Comparison and Logical Operators

判斷是否符合敘述，若符合則回傳 True，若不符合則回傳 False

     - 大小：<, >, ==, >=, <=
     - 其他：not, in

In [17]:
1 > 2

False

In [18]:
2 > 1

True

In [19]:
1 == 1.0

True

In [20]:
1 == 1 / 2

False

In [21]:
1 == 1 / 2

False

In [22]:
1 != 1 / 2

True

In [23]:
not 1 == 1 / 2

True

In [24]:
a = [1, 2, 3, 4, 5]

3 in a

True

In [25]:
a = [1, 2, 3, 4, 5]

6 in a

False

> 若需要有多個判斷，可以用 `or` 和 `and` 連接

In [26]:
a = 5
a > 1 and a > 4

True

In [27]:
a = 5
a > 4 and a > 8

False

In [28]:
a = 5
a > 4 or a < 1

True

In [29]:
a = 3
a > 4 or a < 1

False

### String Operators

In [30]:
class_name = 'Python and Quantatative Trading - '
teacher = 'Jerry'

class_name + teacher

'Python and Quantatative Trading - Jerry'

In [31]:
class_name + teacher - teacher

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [32]:
teacher * 3

'JerryJerryJerry'

In [33]:
(teacher * 3) / 3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [34]:
teacher / teacher

TypeError: unsupported operand type(s) for /: 'str' and 'str'

### List (and Tuple) Operators

In [35]:
department = ['QF', 'Math', 'CS']

department

['QF', 'Math', 'CS']

In [36]:
department + 'ECON'

TypeError: can only concatenate list (not "str") to list

In [37]:
department + ['ECON']

['QF', 'Math', 'CS', 'ECON']

In [38]:
department * 3

['QF', 'Math', 'CS', 'QF', 'Math', 'CS', 'QF', 'Math', 'CS']

In [39]:
department - ['CS']

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [40]:
rooms = (203, 204, 205, 206)

rooms + 201

TypeError: can only concatenate tuple (not "int") to tuple

In [41]:
rooms = ('203', '204', '205', '206')

rooms + ('201', '202')

('203', '204', '205', '206', '201', '202')

- Note that a tuple need to have more than 2 elements

[_]( http://localhost:8888/notebooks/Courses/NTHU/0_Overview.ipynb) <br>
[_]( http://localhost:8888/notebooks/Courses/NTHU/1_3_Conditions_and_Loops.ipynb)